.table-order{
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    th{
        vertical-align: middle;
        color: white;
        background-color: #01AA5A;
    }
}
.orderlist-title{
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}