.tracking-container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

p{
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}
.card {
    padding: 20px;
    margin-bottom: 50px;
}

.order-id {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #e6f7e9;
    border-radius: 4px;
    margin-bottom: 20px;
    font-weight: bold;
}

.order-number {
    color: #008000;
}

.tracking-details {
    border-left: 2px solid #008000;
    padding-left: 20px;
}

.tracking-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.tracking-time {
    flex: 0 0 60px;
    text-align: center;
}

.tracking-circle-status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.24);
}
.tracking-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 25px;
}
.tracking-info {
    flex: 1;
}
.tracking-status{
    font-size: 18px;
}
